{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <section class="p_second">
        <div class="p_second_top">
            <h1>Blog</h1>
        </div>
        <div class="p_second_boxs">
            {% for blog in object_list %}
                <div>
                    <h1>{{ blog.title }}</h1>
                    <h2>{{ blog.created_at|date:"d F Y" }}&nbsp; &#10072; &nbsp;
                        {% for cat in blog.category.all %} {{ cat }}, {% endfor %}</h2>
                    <p>
                        {{ blog.body|truncatewords:"10"|safe }}
                    </p>
                </div>
                <hr>
            {% empty %}
                <h1>Bloglar mavjud emas</h1>
            {% endfor %}

        </div>
    </section> <!--end section 2-->

{% endblock %}