{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}



    <section class="h_in_works">
        <div class="h_works">
            <h1>
                {{ object.title }}
            </h1>
            <div>
                <div class="boks">
                    <span>{{ object.created_at|date:"Y" }}</span>
                </div>
                {% for cat in object.category.all %}
                    <h3>
                        {{ cat.name }}
                    </h3>
                {% endfor %}
            </div>
            <div class="d-flex flex-column">
                {{ object.body|safe }}
            </div>
        </div>

    </section>
{% endblock %}


